@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

.container {
  text-align: center;
  margin: 30px auto;
  width: 350px;
}

h2 {
  margin-bottom: 0;
}

.balance_h {
  font-size: 40px;
  margin-top: 0;
  padding-top: 0;
}

.account_summary {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
}

.account_summary > div {
  flex: 1;
  text-align: center;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: green;
  font-weight: bold;
}

.money.minus {
  color: red;
  font-weight: bold;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  background-color: #fff;

  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid green;
}

.list button {
  color: black;
}

.list li.plus:hover {
  background-color: green;
  color: #fff;
}

.list li.minus {
  border-right: 5px solid red;
}

.list li.minus:hover {
  background-color: red;
  color: #fff;
}

.addTransaction {
  text-align: left;
}
.addTransaction input {
  margin: 5px 0px;
  height: 40px;
}

.addTransaction button {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 5px;
  height: 50px;
  background-color: rgb(166, 51, 219);
  color: floralwhite;
}

.addTransaction button:hover {
  background-color: rgb(112, 20, 155);
  color: floralwhite;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
